body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.f-info-social{
    width: 100%;
    font-size: 1.5rem;
}
.f-info-social i{
    margin-right: 1rem;
}
.f-info-links{
    width: 100%;
}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color:wheat;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
    
}

.card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
#map { 
    height: 400px;
    width: 80vh;
}
